In [1]:
import pandas as pd

In [6]:
 # Import violation csv dataset with specific columns
    
violations = pd.read_csv("violations.csv", usecols = ['Plate ID', 'Registration State', 'Vehicle Make', 'Vehicle Color', 'Violation Time', 'Street Name'])
violations

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,KGK6659,NY,BMW,0637P,WB ATLANTIC AVE @ SH,GY
1,L5232HY,TN,INTER,0853A,Rockaway Beach Blvd,WHITE
2,BPMN76,FL,NISSA,0853A,W 113th St,BLACK
3,57387MJ,NY,NaN,0444P,W 33rd St,WH
4,M81KFJ,NJ,TOYOT,0723A,WB FOSTER AVE @ E 18,NaN
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,0342P,EB E 125TH ST @ 2ND,RD
49996,174ZYG,CT,TOYOT,0828A,W 13th St,BLACK
49997,HES6895,NY,CADIL,0933P,E 182nd St,RD
49998,63035MN,NY,ISUZU,1215P,W Kingsbridge Rd,WH
49999,AW74165,CT,HONDA,0128P,Canal Pl,BLACK

In [15]:
violations.info()
violations.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Plate ID            50000 non-null  object
 1   Registration State  50000 non-null  object
 2   Vehicle Make        49864 non-null  object
 3   Violation Time      49999 non-null  object
 4   Street Name         49990 non-null  object
 5   Vehicle Color       47583 non-null  object
dtypes: object(6)
memory usage: 2.3+ MB

Plate ID                 0
Registration State       0
Vehicle Make           136
Violation Time           1
Street Name             10
Vehicle Color         2417
dtype: int64

In [11]:
#remove rows with missing data
df = violations.dropna(subset = ['Plate ID', 'Registration State', 'Street Name'])

df.isna().sum()

Plate ID                 0
Registration State       0
Vehicle Make           134
Violation Time           1
Street Name              0
Vehicle Color         2415
dtype: int64

In [13]:
no_to_dismiss = df[['Plate ID', 'Registration State', 'Street Name']].count()
no_to_dismiss

total_to_dismiss = no_to_dismiss[0]
print(f"Total number of people dismissed by the state of New York is {total_to_dismiss}")

Total number of people dismissed by the state of New York is 49990

In [14]:
amount_lost = total_to_dismiss * 100
print(f"Total amount lost by the state of New York is ${amount_lost}")

Total amount lost by the state of New York is $4999000